body{
    font-family: Arial, Sans-Serif;
    background-color: #f7f7f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


.container{
    width: 800px;
    display: flex;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px rgba(0,0,0,0.1);
    overflow: hidden;
}

.form-section{
flex:1;
padding: 30px;
}

.form-section h2{
    margin-bottom: 10px;
}

.form-section p{
    font-size: 14px;
    margin-bottom: 20px;
    color: #666;
}


input{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button{
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    background:#4a63f0;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background-color: #324ad6;
}

.link{
    margin-top:10px;
    font-size:  14px;
    text-align: center;
}

.link a{
    color: #4a63f0;
    text-decoration: none;
    cursor: pointer;

}

.social-button{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}


.social-button button{
    flex:1;
    margin: 0 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    font-size: 14px;

}


.social-button i{
    margin-right:8px;

}

.image-section{
    flex:1;
    background-color: #f3f6ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}


.image-section img{
    max-width: 80%;
}

.hidden{
    display: none;
}